<nav class="menu">
    <a class="logo" href="/" title="Dormis">Dormis</a>
    <div class="menu__toggle">
        <div class="menu__toggle-item menu__toggle-item--one"></div>
        <div class="menu__toggle-item menu__toggle-item--two"></div>
        <div class="menu__toggle-item menu__toggle-item--three"></div>
    </div>
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" href="#about-us">
                About us
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#blog">
                Blog
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#help">
                Help
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link email-menu" href="#sendemail">
                Email us
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="#signModal" data-toggle="modal" data-target="#signModal">
                Sign in
            </a>
        </li>
        <li class="menu__item menu__item--hide">
            <a class="menu__link" href="#account">
                Account
            </a>
        </li>
        <li class="menu__item menu__item--select">
            <span class="menu__imitation">
                <span class="menu__imitation-text" title="EUR">EUR</span>
                <span class="menu__imitation-arrow"></span>
            </span>
            <select id="currency_user" class="js-currency_user js-transparent-select" style="width: 100%; display: none;">
                <option value="EUR">EUR</option>
                <option value="USD" selected="">USD</option>
                <option value="GBP">GBP</option>
                <option value="RUB">RUB</option>
            </select>
        </li>
        <li class="menu__item menu__item--select">
            <span class="menu__imitation">
                <span class="menu__imitation-text" title="ENG">ENG</span>
                <span class="menu__imitation-arrow"></span>
            </span>
            <select id="lang_user" class="js-lang_user js-transparent-select" style="width: 100%; display: none;">
                <option value="en" selected>ENG</option>
                <option value="ru">RUS</option>
            </select>
        </li>
    </ul>
    <a class="btn btn__stroke" href="#list-your-property">
        List your property
    </a>
</nav>
