<nav class="menu menu--dark">
    <a class="logo logo--dark" href="/" title="Dormis">Dormis</a>
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" href="/about-us">
                About us
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/blog">
                Blog
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/help">
                Help
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link email-menu" href="#sendemail">
                Email us
            </a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href="/enter">
                Sign in
            </a>
        </li>
        <li class="menu__item menu__item--hide">
            <a class="menu__link" href="/account">
                Account
            </a>
        </li>
        <li class="menu__item">
            <span class="menu__imitation">
                <span class="menu__imitation-text" title="RUB">RUB</span>
                <span class="menu__imitation-arrow"></span>
            </span>
            <div class="transparent-select">
                <select id="currency_user" class="js-currency_user select2-min-transparent" style="width: 100%; display: none;">
                    <option value="EUR">EUR</option>
                    <option value="USD" selected="">USD</option>
                    <option value="GBP">GBP</option>
                    <option value="RUB">RUB</option>
                </select>
            </div>
        </li>
        <li class="menu__item">
            <span class="menu__imitation">
                <span class="menu__imitation-text" title="ENG">ENG</span>
                <span class="menu__imitation-arrow"></span>
            </span>
            <div class="transparent-select">
                <select id="lang_user" class="js-lang_user select2-min-transparent" style="width: 100%; display: none;">
                    <option value="en" selected>ENG</option>
                    <option value="ru">RUS</option>
                </select>
            </div>
        </li>
    </ul>
    <a class="btn btn__stroke" href="/rental/booking-edit/step1">
        List your property
    </a>
</nav>