<section class="features">
    <div class="container">
        <div class="row">
            {{> title/title title.features}}
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xxl-3">
                <div class="features__wrap">
                    <div class="features__icon features__icon--owners"></div>
                    <a href="/for-owners" class="features__title">
                        For owners
                    </a>

                    <div class="features__text">
                        Join the Dormis community! List your property and start getting bookings
                    </div>
                    <a href="/for-owners" class="btn btn--size-m">Learn more</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xxl-3">
                <div class="features__wrap">
                    <div class="features__icon features__icon--services"></div>
                    <a href="/additional-services" class="features__title">Additional services</a>

                    <div class="features__text">Manage your business in the most convenient way!</div>
                    <a href="/for-owners" class="btn btn--size-m">Learn more</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xxl-3">
                <div class="features__wrap">
                    <div class="features__icon features__icon--program"></div>
                    <a href="/affiliate-program" class="features__title">Affiliate program</a>

                    <div class="features__text">Become an affiliate and start <br> earning today!</div>
                    <a href="/for-owners" class="btn btn--size-m">Learn more</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-xxl-3">
                <div class="features__wrap">
                    <div class="features__icon features__icon--companies"></div>
                    <a href="/for-companies" class="features__title">For companies</a>

                    <div class="features__text">Make friends with Dormis! Let’s become mutually beneficial</div>
                    <a href="/for-owners" class="btn btn--size-m">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>