<div id="sendingFailed" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sending failed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your verification code was not sent due to an error.
            </div>
            <div class="modal-footer">
                <a class="btn btn--size-s" href="#recoveryBeginModal" data-toggle="modal" data-target="#recoveryBeginModal">Try again</a>
            </div>
        </div>
    </div>
</div>