<div class="footer-menu">
    <div class="footer-menu__wrap">
        <ul class="footer-menu__list ">
            <h3 class="footer-menu__title">Dormis</h3>
            <li><a href="#about-us">About us</a></li>
            <li><a href="#for-owners">For owners</a></li>
            <li><a href="#additional-services">Additional services</a></li>
            <li><a href="#affiliate-program">Affiliate program</a></li>
            <li><a href="#for-companies">For companies</a></li>
        </ul>
    </div>
</div>
