<div class="footer-menu">
    <div class="footer-menu__wrap">
        <ul class="footer-menu__list ">
            <li><h3 class="footer-menu__title">Help &amp; info</h3></li>
            <li><a href="#help">FAQ</a></li>
            <li><a href="#help-hoh">How can I book an apartment?</a></li>
            <li><a href="#help-how-can-i-pay-for-my-booking">How can i pay for my booking?</a></li>
            <li><a href="#help-how-list-my-property">How can I list my property?</a></li>
            <li><a href="#rental-sitemap">Site map</a></li>
        </ul>
    </div>
</div>
