<div class="footer-menu">
    <div class="footer-menu__wrap">
        <ul class="footer-menu__list ">
            <h3 class="footer-menu__title">Terms and policies</h3>
            <li><a href="#privacy-policy-cookies">Privacy policy &amp; cookies</a></li>
            <li><a href="#terms-and-conditions">Terms and conditions</a></li>
            <li><a href="#cancellation-policies">Cancellation and modification policy</a></li>
            <li><a href="#rules-for-owners">Rules for listings</a></li>
            <li><a href="#rules-of-the-house">Rules of the house</a></li>
        </ul>
    </div>
</div>
