<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-xl-3">
                {{> footer-menu/footer-menu--terms}}
            </div>
            <div class="col-xs-12 col-sm-6 col-xl-3">
                {{> footer-menu/footer-menu--help}}
            </div>
            <div class="col-xs-12 col-sm-6 col-xl-3">
                {{> footer-menu/footer-menu--about}}
            </div>
            <div class="col-xs-12 col-sm-6 col-xl-3">
                {{> contact/contact}}
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer__bottom-col">
                        {{> payment/payment}}
                    </div>
                    <div class="footer__bottom-col footer__bottom-col--center">
                        {{> copyright/copyright}}
                    </div>
                    <div class="footer__bottom-col footer__bottom-col--right">
                        {{> social/social}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>