<div class="auth-social">
    <div class="auth-social__item">
        <a href="javascript:void(0);" class="btn btn--size-s btn--twitter">Twitter</a>
    </div>
    <div class="auth-social__item">
        <a href="javascript:void(0);" class="btn btn--size-s btn--facebook">Facebook</a>
    </div>
    <div class="auth-social__item">
        <a href="javascript:void(0);" class="btn btn--size-s btn--google">Google +</a>
    </div>
    <div class="auth-social__item">
        <a href="javascript:void(0);" class="btn btn--size-s btn--linkedin">Linkedin</a>
    </div>
</div>