<div class="social">
    <ul>
        <li><a target="_blank" class="social__link social__link--facebook" href="https://www.facebook.com/dormiscom/"></a></li>
        <li><a target="_blank" class="social__link social__link--twitter" href="https://twitter.com/My_Dormis_com"></a></li>
        <li><a target="_blank" class="social__link social__link--gplus"
               href="https://plus.google.com/u/0/b/102743845830372312365/102743845830372312365/about"></a></li>
        <li><a target="_blank" class="social__link social__link--linkedin" href="https://www.linkedin.com/groups/8426736"></a></li>
        <li><a target="_blank" class="social__link social__link--instagram" href="https://www.instagram.com/dormis_com/"></a></li>
    </ul>
</div>