<div class="contact">
    <ul class="contact__list">
        <li><h3 class="contact__title">Contact us</h3></li>
        <li class="contact__item">
            <span class="contact__text">Office hours:</span>
            <span class="contact__text">5 AM — 14 PM (GMT)</span>
        </li>
        <li class="contact__item">
            <span class="contact__text">Phone:</span>
            <a class="contact__info" href="tel:+441223926405">+44 1223 926405</a>
        </li>
        <li class="contact__item">
            <span class="contact__text">Skype:</span>
            <a class="contact__info" href="skype:info.dormis">info.dormis</a>
        </li>
        <li class="contact__item">
            <span class="contact__text">Technical support:</span>
            <a class="contact__info" href="mailto:support@dormis.com">support@dormis.com</a>
        </li>
        <li class="contact__item">
            <span class="contact__text">For hosts and guests:</span>
            <a class="contact__info" href="mailto:info@dormis.com">info@dormis.com</a>
        </li>
    </ul>
</div>
