<section class="masonry masonry--country">
    <div class="container">
        <div class="row">
            {{> title/title title.masonryCountry}}
            <div class="masonry-grid js-masonry-grid masonry-grid--all-resolution">
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image masonry-grid__item-image--london"></a>
                        <div class="masonry-grid__item-country">United kingdom</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            London
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-rome" class="masonry-grid__item-image masonry-grid__item-image--rome"></a>
                        <div class="masonry-grid__item-country">Italy</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Rome
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona" class="masonry-grid__item-image masonry-grid__item-image--barcelona"></a>
                        <div class="masonry-grid__item-country">Spain</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Barcelona
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-havana" class="masonry-grid__item-image masonry-grid__item-image--havana"></a>
                        <div class="masonry-grid__item-country">Cuba</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Havana
                        </div>
                    </div>
                </div>
                <!--line 2-->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-palma" class="masonry-grid__item-image masonry-grid__item-image--mallorca"></a>
                        <div class="masonry-grid__item-country">Spain</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Mallorca
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-kissimmee" class="masonry-grid__item-image masonry-grid__item-image--kissimmee"></a>
                        <div class="masonry-grid__item-country">USA</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Kissimmee
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-deming" class="masonry-grid__item-image masonry-grid__item-image--deming"></a>
                        <div class="masonry-grid__item-country">USA</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Deming
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-dubrovnik" class="masonry-grid__item-image masonry-grid__item-image--dalmatia"></a>
                        <div class="masonry-grid__item-country">Croatia</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Dalmatia
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--periodical">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-budapest" class="masonry-grid__item-image masonry-grid__item-image--budapest"></a>
                        <div class="masonry-grid__item-country">Hungary</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Budapest
                        </div>
                    </div>
                </div>
            </div>
            <div class="masonry-grid masonry-grid--mobile">
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image masonry-grid__item-image--london masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">United kingdom</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            London
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-rome" class="masonry-grid__item-image masonry-grid__item-image--rome masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">Italy</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Rome
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona" class="masonry-grid__item-image masonry-grid__item-image--barcelona masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">Spain</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Barcelona
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-havana" class="masonry-grid__item-image masonry-grid__item-image--havana masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">Cuba</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Havana
                        </div>
                    </div>
                </div>
                <!--line 2-->
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-palma" class="masonry-grid__item-image masonry-grid__item-image--mallorca masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">Spain</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Mallorca
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-kissimmee" class="masonry-grid__item-image masonry-grid__item-image--kissimmee masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">USA</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Kissimmee
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-deming" class="masonry-grid__item-image masonry-grid__item-image--deming masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">USA</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Deming
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-dubrovnik" class="masonry-grid__item-image masonry-grid__item-image--dalmatia masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">Croatia</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Dalmatia
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-budapest" class="masonry-grid__item-image masonry-grid__item-image--budapest masonry-grid__item-image--mobile"></a>
                        <div class="masonry-grid__item-country">Hungary</div>
                        <div class="masonry-grid__item-name masonry-grid__item-name--country">
                            Budapest
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
