<section class="masonry masonry--districts">
    <div class="container">
        <div class="row">
            {{> title/title title.masonryDistricts}}
            <div class="masonry-grid js-masonry-grid">
                <!-- line 1 -->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london?districts=city-of-westminster&amp;neighborhoods=westminster"
                           class="masonry-grid__item-image masonry-grid__item-image--westminster"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Westminster
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--height2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image masonry-grid__item-image--bloomsbury"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Bloomsbury
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--width2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella&amp;neighborhoods=la-barceloneta"
                           class="masonry-grid__item-image masonry-grid__item-image--la-barceloneta"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            La barceloneta
                        </div>
                    </div>
                </div>
                <!-- line 1 end -->
                <!-- line 2 -->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london?districts=royal-borough-of-kensington-and-chelsea&amp;neighborhoods=kensington"
                           class="masonry-grid__item-image masonry-grid__item-image--kensington"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Kensington
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--height2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=eixample&amp;neighborhoods=la-sagrada-familia"
                           class="masonry-grid__item-image masonry-grid__item-image--sagrada-familia"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            Sagrada familia
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella" class="masonry-grid__item-image masonry-grid__item-image--ciutat-vella"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            Ciutat Vella
                        </div>
                    </div>
                </div>
                <!-- line 2 end -->
                <!-- line 3 -->
                <div class="masonry-grid__item masonry-grid__item--width2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image masonry-grid__item-image--the-city"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            The city
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella&amp;neighborhoods=el-gotic"
                           class="masonry-grid__item-image masonry-grid__item-image--el-gotic"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            El gotic
                        </div>
                    </div>
                </div>
                <!-- line 3 end -->
            </div>
            <div class="masonry-grid masonry-grid--notebook js-masonry-grid">
                <!-- line 1 -->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london?districts=city-of-westminster&amp;neighborhoods=westminster"
                           class="masonry-grid__item-image masonry-grid__item-image--westminster"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Westminster
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--width2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella&amp;neighborhoods=la-barceloneta"
                           class="masonry-grid__item-image masonry-grid__item-image--la-barceloneta"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            La barceloneta
                        </div>
                    </div>
                </div>
                <!-- line 1 end -->
                <!-- line 2 -->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london?districts=royal-borough-of-kensington-and-chelsea&amp;neighborhoods=kensington"
                           class="masonry-grid__item-image masonry-grid__item-image--kensington"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Kensington
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--height2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image masonry-grid__item-image--bloomsbury"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Bloomsbury
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella" class="masonry-grid__item-image masonry-grid__item-image--ciutat-vella"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            Ciutat Vella
                        </div>
                    </div>
                </div>
                <!-- line 2 end -->
                <!-- line 3 -->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella&amp;neighborhoods=el-gotic"
                           class="masonry-grid__item-image masonry-grid__item-image--el-gotic"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            El gotic
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--height2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=eixample&amp;neighborhoods=la-sagrada-familia"
                           class="masonry-grid__item-image masonry-grid__item-image--sagrada-familia"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            Sagrada familia
                        </div>
                    </div>
                </div>
                <!-- line 3 end -->
                <!-- line 4 -->
                <div class="masonry-grid__item masonry-grid__item--width2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image masonry-grid__item-image--the-city"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            The city
                        </div>
                    </div>
                </div>
                <!-- line 4 end -->
            </div>
            <div class="masonry-grid masonry-grid--tablet js-masonry-grid">
                <!-- line 1 -->
                <div class="masonry-grid__item masonry-grid__item--width2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella&amp;neighborhoods=la-barceloneta"
                           class="masonry-grid__item-image masonry-grid__item-image--la-barceloneta"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            La barceloneta
                        </div>
                    </div>
                </div>
                <!-- line 1 end -->
                <!-- line 2 -->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london?districts=city-of-westminster&amp;neighborhoods=westminster"
                           class="masonry-grid__item-image masonry-grid__item-image--westminster"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Westminster
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--height2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image masonry-grid__item-image--bloomsbury"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Bloomsbury
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london?districts=royal-borough-of-kensington-and-chelsea&amp;neighborhoods=kensington"
                           class="masonry-grid__item-image masonry-grid__item-image--kensington"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            Kensington
                        </div>
                    </div>
                </div>
                <!-- line 2 end -->
                <!-- line 3 -->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella" class="masonry-grid__item-image masonry-grid__item-image--ciutat-vella"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            Ciutat Vella
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--height2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=eixample&amp;neighborhoods=la-sagrada-familia"
                           class="masonry-grid__item-image masonry-grid__item-image--sagrada-familia"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            Sagrada familia
                        </div>
                    </div>
                </div>
                <!-- line 3 end -->
                <!-- line 4 -->
                <div class="masonry-grid__item">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella&amp;neighborhoods=el-gotic"
                           class="masonry-grid__item-image masonry-grid__item-image--el-gotic"></a>

                        <div class="masonry-grid__item-city">
                            Barcelona
                        </div>
                        <div class="masonry-grid__item-name">
                            El gotic
                        </div>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--width2">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image masonry-grid__item-image--the-city"></a>

                        <div class="masonry-grid__item-city">
                            London
                        </div>
                        <div class="masonry-grid__item-name">
                            The city
                        </div>
                    </div>
                </div>
                <!-- line 4 end -->
            </div>
            <div class="masonry-grid masonry-grid--mobile">
                <!-- line 1 -->
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella&amp;neighborhoods=la-barceloneta"
                           class="masonry-grid__item-image--la-barceloneta masonry-grid__item-image--mobile">
                            <div class="masonry-grid__item-city">
                                Barcelona
                            </div>
                            <div class="masonry-grid__item-name">
                                La barceloneta
                            </div>
                        </a>
                    </div>
                </div>
                <!-- line 1 end -->
                <!-- line 2 -->
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london?districts=city-of-westminster&amp;neighborhoods=westminster"
                           class="masonry-grid__item-image--westminster masonry-grid__item-image--mobile">
                            <div class="masonry-grid__item-city">
                                London
                            </div>
                            <div class="masonry-grid__item-name">
                                Westminster
                            </div>
                        </a>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image--bloomsbury masonry-grid__item-image--mobile">
                            <div class="masonry-grid__item-city">
                                London
                            </div>
                            <div class="masonry-grid__item-name">
                                Bloomsbury
                            </div>
                        </a>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london?districts=royal-borough-of-kensington-and-chelsea&amp;neighborhoods=kensington"
                           class="masonry-grid__item-image--kensington masonry-grid__item-image--mobile">
                            <div class="masonry-grid__item-city">
                                London
                            </div>
                            <div class="masonry-grid__item-name">
                                Kensington
                            </div>
                        </a>
                    </div>
                </div>
                <!-- line 2 end -->
                <!-- line 3 -->
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella" class="masonry-grid__item-image--ciutat-vella masonry-grid__item-image--mobile">
                            <div class="masonry-grid__item-city">
                                Barcelona
                            </div>
                            <div class="masonry-grid__item-name">
                                Ciutat Vella
                            </div>
                        </a>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=eixample&amp;neighborhoods=la-sagrada-familia"
                           class="masonry-grid__item-image--sagrada-familia masonry-grid__item-image--mobile">
                            <div class="masonry-grid__item-city">
                                Barcelona
                            </div>
                            <div class="masonry-grid__item-name">
                                Sagrada familia
                            </div>
                        </a>
                    </div>
                </div>
                <!-- line 3 end -->
                <!-- line 4 -->
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-barcelona?districts=ciutat-vella&amp;neighborhoods=el-gotic"
                           class="masonry-grid__item-image--el-gotic masonry-grid__item-image--mobile">
                            <div class="masonry-grid__item-city">
                                Barcelona
                            </div>
                            <div class="masonry-grid__item-name">
                                El gotic
                            </div>
                        </a>
                    </div>
                </div>
                <div class="masonry-grid__item masonry-grid__item--mobile">
                    <div class="masonry-grid__item-wrap">
                        <a href="#rental-london" class="masonry-grid__item-image--the-city masonry-grid__item-image--mobile">
                            <div class="masonry-grid__item-city">
                                London
                            </div>
                            <div class="masonry-grid__item-name">
                                The city
                            </div>
                        </a>
                    </div>
                </div>
                <!-- line 4 end -->
            </div>
        </div>
    </div>
</section>
