<div class="reasons">
    <div class="reasons__list" id="reasons">
        <ul class="reasons__ul clearfix">
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon1"></div>
                    <div class="reasons__title">
                        Simple and convenient
                    </div>
                    <div class="reasons__text">
                        We created a user-friendly interface that saves your time and helps you find a perfect place to stay. You can find a space that you need in 5 minutes.
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon2"></div>
                    <div class="reasons__title">
                        Reliable
                    </div>
                    <div class="reasons__text">
                        All our properties are verified. Once you booked a place in Dormis, don’t worry about anything and enjoy your vacation. The owner will be happy to welcome you on the day of your arrival.
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon3"></div>
                    <div class="reasons__title">
                        Value for money
                    </div>
                    <div class="reasons__text">
                        You don’t have to spend a fortune on a hotel room anymore. You can stay at a fully equipped apartment for a reasonable price. Check our website and find a place according to your needs.
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <div class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon4"></div>
                    <div class="reasons__title">
                        Secure and confidential
                    </div>
                    <div class="reasons__text">
                        All payments are processed via bank servers and are totally secure. We respect your privacy and your personal details will only be shown to the owner of the property you booked.
                    </div>
                </div>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon5"></div>
                    <div class="reasons__title">
                        Feel at home!
                    </div>
                    <div class="reasons__text">
                        Take a chance to live like a local during your stay. Enjoy a home-made breakfast in your own kitchen and plan your day the way you prefer. Feel at home or even better!
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon6"></div>
                    <div class="reasons__title">
                        No extra costs
                    </div>
                    <div class="reasons__text">
                        Everything is clear and honest. Total booking cost including all fees is calculated when you are making a reservation. It will not change in any way upon your arrival.
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon7"></div>
                    <div class="reasons__title">
                        Caring hosts
                    </div>
                    <div class="reasons__text">
                        We work with owners who care about their guests. A warm welcome and hospitality will be the first good impression during your unforgettable stay!
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon8"></div>
                    <div class="reasons__title">
                        Contact us 7 days a week
                    </div>
                    <div class="reasons__text">
                        Whenever you get in touch with us, our support team will be glad to help you! You can email, call or text us and get an overall support from Dormis.
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon9"></div>
                    <div class="reasons__title">
                        A change of plans?
                    </div>
                    <div class="reasons__text">
                        We want you to enjoy your vacation no matter what happens. If you can’t stay for the dates you booked, you can modify your reservation without losing your money.
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon10"></div>
                    <div class="reasons__title">
                        Instant booking
                    </div>
                    <div class="reasons__text">
                        If you have found an available apartment for your holiday, you can book it right away with no additional approval. Just click "book now" and make a down payment to confirm reservation.
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon11"></div>
                    <div class="reasons__title">
                        We appreciate your opinion
                    </div>
                    <div class="reasons__text">
                        Is there anything you didn’t like about our website? Or you wish to say a few good words to us? Email us and share your thoughts. We are looking forward to your feedback!
                    </div>
                </a>
            </li>
            <li class="reasons__li">
                <a href="/why-book-with-us" class="reasons__item">
                    <div class="reasons__icon reasons__icon--icon12"></div>
                    <div class="reasons__title">
                        We don’t change your reviews
                    </div>
                    <div class="reasons__text">
                        Anyone who stayed at the apartment can leave a review upon their departure. We can\'t edit reviews, so you get all truthful information about the property.
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="reasons__nav">
        <button class="reasons__prev" title="prev"></button>
        <button class="reasons__next" title="next"></button>
    </div>
</div>