<!-- Nav tabs -->
<ul class="nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#sign-in" role="tab">Sign in</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#sign-up" role="tab">Sign up</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab__content">
    <div class="tab__pane active" id="sign-in" role="tabpanel">
        {{> sign-in/sign-in}}
    </div>
    <div class="tab__pane" id="sign-up" role="tabpanel">
        {{> sign-up/sign-up}}
    </div>
</div>