<div id="cookiesMessage" class="cookies" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <span class="cookies__text">
                    Our website uses cookies in order to improve your user experience and offer you better contents. By using this website you accept <a href="#privacy-policy-cookies">our policy</a>.
                </span>
                <span class="cookies__close" id="closeCookiesMessage"></span>
            </div>
        </div>
    </div>
</div>
